.x-body{
    background:url('../images/project_images/bg_vkks.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center center;
    background-attachment:fixed;
}
/*настройка всяческих полей*/
label.x-form-item-label-default{
    /*vertical-align:middle;*/
    color:#1D4B82;
    font-family:'Roboto Bold';
    font-size:15px;
    padding-right:15px !important;
}
.x-form-text-field-body.x-form-item-body-default{
    min-height:25px;
}
input.x-form-text.x-form-text-default,
textarea.x-form-text.x-form-text-default{
    box-shadow:inset -3px 6px 5px rgba(134,134,134,.2);
    border:1px solid #809EDA;
    border-radius:6px;
    min-height:25px;
}
    /*combpbox*/
    .x-form-text-wrap.x-form-text-wrap-default input[id*="combo"]{
        /*padding-right:24px;*/
    }
    div[id*="combo"].x-form-trigger-default,
    div[id*="treepicker"].x-form-trigger-default{
        background-image:url('../images/project_images/triangle.png');
        background-repeat:no-repeat;
        background-position:center;
        margin-left:-20px;
        width:20px;
        border-left:1px solid #809EDA;
    }
/**/
/*кнопки*/
a.x-btn.buttons_style,
a.x-btn.buttons_style.x-btn-focus.x-btn-default-small{
    background-color:#5781B4;
    border-radius:6px;
    padding:10px 15px;
}
a.x-btn.x-btn-over.buttons_style,
a.x-btn.x-btn-over.x-btn-pressed.buttons_style{
    background-color:#F0A342;
}
.buttons_style span{
    color:#fff;
    font-family:'Marmelad';
    font-size:18px;
}
/**/
/*сложная процедура выстраивания ширины (хедер)*/
.x-body > .x-box-inner,
.x-body .x-box-inner > .x-box-target{
    width:100% !important;
}
.x-viewport > body.x-body{
    padding:10px 30px;
}
.header_cls{
    width:100%;
}
.header_cls > .x-box-inner{
    width:100% !important;
}
.title_head{
    width:calc(100% - 150px);
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    .title_head{
        width: 90%;
    }
}
.title_head > div{
    border-bottom-image:url('../images/project_images/blue_underline.png');
    -moz-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    -webkit-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    -ms-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    -o-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    border-bottom:2px solid #5781B4;
}
.title_head div{
    width:100% !important;
}
/*----*/
h1{
    color:#4E7AAF;
    font-family:'DEAD_SECRETARY_Cyr';
    font-size:34px;
    font-stretch:extra-expanded;
    text-align:center;
}
.gerb{
    background-image:url('../images/project_images/gerb.png');
    background-size:100% auto;
    width:129px;
    height:145px
}
/*стиль для страниц навигации*/
@media all and (-webkit-min-device-pixel-ratio:0) {
    .header_cls ~ .x-container{
            left:15% !important;
            right:15% !important;
    }
}
.header_cls ~ .x-container{
    /*width:800px !important;*/
    width:65.574%;
    margin:auto !important;
    position:relative !important;
    left:0 !important;
}
.main_page .x-autocontainer-outerCt{
    width:800px !important;
}
.main_page a .x-btn-inner-default-small{
    color:#1D4B82;
    font-family:'Philosopher Bold';
    font-size:30px;
    line-height:1em;
    height:80px;
    padding-top:25px;
    padding-botom:25px;
}
.main_page{
    background-image:url('../images/project_images/two_lines.png'),
        url('../images/project_images/two_lines180.png');
    background-repeat:no-repeat;
    background-position:top center,
        bottom center;
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
    margin-top:5%;
}
/**/
/*login page*/
.login_page{
    margin: 5% auto !important;
    width:60% !important;
    left:0 !important;
}
.login_page .x-panel-body-default{
    background-color:transparent;
}
.login_page .x-panel-header,
.login_page .x-panel-header div{
    width:100% !important;
}
.login_page .x-panel-header .x-title-text{
    color:#1D4B82;
    font-family:'Philosopher';
    font-size:22px;
    text-align:center;
    padding:15px;
    border-bottom-image:url('../images/project_images/blue_underline.png');
    -moz-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    -webkit-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    -ms-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    -o-border-image:url('../images/project_images/blue_underline.png') 0 1 10 10 stretch stretch;
    border-bottom:1px solid #5781B4;
}
.login_page .x-panel-body{
    margin:auto;
    padding:40px 0;
}
.login_page .x-field{
    padding:7px 0;
}
.login_page .x-toolbar-footer{
    margin:auto;
    right:0 !important;
}
.login_page a{
    left:0 !important;
    margin-left:calc(50% - 20px) !important;
}
/*поле в логине для safari*/
.login_page .x-panel-body > div{
    min-height:65px !important;
}
/*перенести в отдельный файл, если будет много*/
/*Opera*/
noindex:-o-prefocus, .login_page a{
    margin-left:50% !important;
}
/*safari*/
@media screen and ( -webkit-min-device-pixel-ratio : 0 ) {
    .login_page a{
        margin-left:50% !important;
    }
}
/*кнопка в логине*/
/*noindex:-o-prefocus, */.login_page .x-toolbar-footer{
    left:0 !important;
}
.login_page a.x-btn.buttons_style,
.login_page a.x-btn.buttons_style.x-btn-focus.x-btn-default-small{
    margin: auto !important;
    width: 50px !important;
    left: 0 !important;
    right: 0 !important;
}
.login_page .x-toolbar-footer > div{
    width:100% !important;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
    .login_page .x-form-item{
        margin-bottom:5px !important;
    }
    .login_page .x-form-item input.x-form-text{
        position:absolute;
        margin-top: -10px;
        width: calc(100% - 120px);
    }
}