/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.12.2014, 16:28:57
    Author     : shapovalova
*/
/*Opera*/
noindex:-o-prefocus, .exit_cls { 
    left:96% !important; 
  } 
  noindex:-o-prefocus, body > .x-box-inner > .x-box-target > .x-container{
    overflow-x:hidden;
    overflow-y:auto;
    height:100% !important;
}
/*safari*/
@media screen and ( -webkit-min-device-pixel-ratio : 0 ) { 
    .exit_cls { 
        left:96% !important; 
     }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    .x-btn.exit_cls,
    a.exit_cls.x-btn-over.x-btn-default-toolbar-small,
    a.exit_cls.x-btn.x-btn-pressed.x-btn-default-toolbar-small,
    a.exit_cls.x-btn.x-btn-focus.x-btn-default-toolbar-small{
        margin-left:-13px !important;        
    }
}
@media screen and ( -webkit-min-device-pixel-ratio : 0 ) { 
  .title_head { 
      width: 90%;
  } 
}
/*opera*/
noindex:-o-prefocus, .title_head { 
  width: 90%;
} 
noindex:-o-prefocus, body > .x-box-inner > .x-box-target > .x-container{
    height:72% !important;
}
/*combobox*/
    /*safari*/
    @media all and (-webkit-min-device-pixel-ratio:0) {
            div[id*="treepicker"].x-form-trigger-default{
                    position:relative;
                    top:0px;
            }
            div[id*="treepicker"].x-form-trigger-default,
            div[id*="combo"].x-form-trigger-default{
                    position:absolute;
                    height:25px !important;
            }
    }
    @media screen and (min-width:0\0) {
            div[id*="combo"].x-form-trigger-default,
            div[id*="treepicker"].x-form-trigger-default,
            .x-form-dirty div[id*="combo"].x-form-trigger-default,
            .x-form-dirty div[id*="treepicker"].x-form-trigger-default{
                    top:6px;
                    position:relative;
            }
    }
    /**/
    .x-border-box .x-form-text-wrap.x-form-text-wrap-default input[id*="combo"],
    .x-border-box .x-form-text-wrap.x-form-trigger-focus input[id*="combo"],
    .x-border-box .x-form-text-wrap.x-form-trigger-over input[id*="combo"],
    .x-border-box .x-form-text-wrap.x-form-trigger-click input[id*="combo"],
    .x-border-box .x-form-text-wrap.x-form-text-wrap-default input[id*="treepicker"],
    .x-border-box .x-form-text-wrap.x-form-trigger-focus input[id*="treepicker"],
    .x-border-box .x-form-text-wrap.x-form-trigger-over input[id*="treepicker"],
    .x-border-box .x-form-text-wrap.x-form-trigger-click input[id*="treepicker"]{
        box-sizing:padding-box !important;    
    }
    .x-border-box div[id*="combo"].x-form-trigger-default,
    .x-border-box div[id*="treepicker"].x-form-trigger-default,
    .x-border-box div[id*="combo"].x-form-trigger-default.x-form-trigger-over,
    .x-border-box div[id*="treepicker"].x-form-trigger-default.x-form-trigger-over,
    .x-border-box div[id*="combo"].x-form-trigger-default.x-form-trigger-focus,
    .x-border-box div[id*="treepicker"].x-form-trigger-default.x-form-trigger-focus,
    .x-border-box div[id*="combo"].x-form-trigger-default.x-form-trigger-click,
    .x-border-box div[id*="treepicker"].x-form-trigger-default.x-form-trigger-click{
            display:inline;
            box-sizing:padding-box !important;
            padding:0 9px;
    }
/*поиск документов дела в деле*/
div.search {
    display:block;
    box-sizing:padding-box !important;  
}
/*ie*/
@media screen and (min-width:0\0){
    .x-border-box .find_doc div.search {
        top:2px !important;
        position:absolute !important;
    }
}
/*chrome*/
@media all and (-webkit-min-device-pixel-ratio:0) {
    .x-border-box .find_doc div.search {
        position:absolute !important;
    }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    .find_doc .x-form-text-wrap.x-form-text-wrap-default input[id*="textfield"]{
        box-sizing:padding-box !important; 
    }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
    .textbox_abs{
        margin-bottom:10px !important;
    }
    .textbox_abs input.x-form-text{
        position:absolute;
        margin-top: -10px;
        width: calc(100% - 450px);
    }
}
/*выравнивание неверной ширины ячеек*/
@media all and (-webkit-min-device-pixel-ratio:0) {
    .x-grid-header-ct > .x-box-inner{
        margin-left:0.1%;
    }
}
